extends ../main.layout.pug

block variables
  
  
block hero
  .hero#hero
    
block scripts
  script(src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js")
  script(src="/scripts/slideshow.js")      
    