doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    link(rel="stylesheet", href="/styles/style.css")
    <!--[if IE 8]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  body
    .wrapper#wrapper
      block hero
    block footer
      include ./common/footer
    block scripts
      
