doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    link(rel="stylesheet", href="/styles/style.css")
  body
    .wrapper#wrapper
      block hero
    block navbar
      include ./common/navbar
    block scripts
      
