footer.footer
  ul.menu
    li.menu__item(id="tv")
      a.menu__link(href="/tv") TV
    li.menu__item(id="movies")
      a.menu__link(href="/movies") Movies
    li.menu__item(id="serials")
      a.menu__link(href="/serials") Serials